body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #e6f0fa;
  color: #333;
}

header {
  background-color: #0066cc;
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 1.8rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px;
  gap: 30px;
}


input[type="text"],
input[type="number"],
input[type="date"] {
  width: 100%;      
  box-sizing: border-box;    
  padding: 6px 10px;
  font-size: 14px;
  display: block;  
  margin-bottom: 10px;
}

.form-container,
.tabela {
    background-color: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  flex: 1;
 width: 100%;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.3rem;
  color: #222;
}

label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

input[type="text"],
input[type="date"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.row {
  display: flex;
  gap: 10px;
}

.row > div {
  flex: 1;
}

.buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.btn-green {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 12px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-gray {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 12px 16px;
  border-radius: 6px;
  cursor: pointer;
}

table {
    overflow-x: auto;
}

th, td {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f8f9fa;
}

.btn-delete {
  background:  #d9534f;
  border: none;
  color: #d9534f;
  cursor: pointer;
  font-size: 16px;
}
.btn-delete:hover {
  color: #a94442;
}

.alert-popup {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 300px;
  padding: 16px 24px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  color: white;
  text-align: center;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease, transform 0.3s ease;
}

.alert-popup.success {
  background-color: #28a745; /* verde */
}

.alert-popup.error {
  background-color: #dc3545; /* vermelho */
}

.alert-popup.show {
  opacity: 1;
  pointer-events: auto;
}



